
<div style="height: 50%; border: 1px solid white; width: 80%; text-align: center; align-self: center;">
  <h1 style="font-size: 50px;">Museum </h1>
  <h2 style="font-size: 40px;">Te     </h2>
  <h1 style="font-size: 50px;">Auctus </h1> <br>
  (Museo Aumentado)
</div>

<ion-content class="ion-padding">
  <ion-button routerLink="/login" expand ="block">
    Ingresar
</ion-button><br>
<ion-button routerLink="/register" expand ="block">
    Registro
</ion-button>
<!-- <ion-button routerLink="/create" expand ="block">
    Por si acaso
  </ion-button> -->
</ion-content>